<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <!-- Main css -->
    <link rel="stylesheet" href="css/form.css">
    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
</head>

<body>

   <div class="main">

    <div class="container">
        <div class="signup-content">
            <div class="signup-desc">
                <div class="signup-desc-content">
                    <a class="navbar-brand" href="/">
                        <img src="images/kodehauz-logo.png" class="navbar-brand-img" alt="...">
                    </a>
                    <p class="title">Sign up now and get access to our Training services</p>
                    <p class="desc">
                        KodeHauz Training Portal is here for you.
                    </p>
                    <img src="images/signup-img.jpg" alt="" class="signup-img img-fluid image-responsive pt-md-12">
                </div>
            </div>
            <div class="signup-form-conent">
                <form id="regForm" class="signup-form">
                    <h1>Registration Form</h1>
                    <div class="tab">
                        <span class="step-current">Step 1 / 5</span>
                        <h2 class="pt-6">Trainee info</h2>
                        <p>Please enter your infomation and proceed to next step so we can build your
                            account</p>

                            
                        <div class="form-group">
                            <input type="text" name="full_name" id="full_name" oninput="this.className = ''" required
                                placeholder="Your Full Name" />
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" oninput="this.className = ''" id="email" required
                                placeholder="Email" />
                        </div>

                        <div class="form-group">
                            <input type="password" name="password" oninput="this.className = ''" id="password" required
                                placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone_number" oninput="this.className = ''" id="phone_number"
                                required placeholder="Phone Number" />
                        </div>
                        <div class="form-group">
                            <input type="date" name="dob" id="dob" oninput="this.className = ''" required
                                placeholder="Your Full Name" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="address" id="address" oninput="this.className = ''" required
                                placeholder="Your Address" />
                        </div>


                        <div class=";justify-content-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                    value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    Default radio
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                    value="option2">
                                <label class="form-check-label" for="exampleRadios2">
                                    Second default radio
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <select name="category_id" id="category" oninput="this.className = ''"
                                class="form-control form-select">
                                <option value="">Please Choose The Department You Belong to</option>
                                {{#each departments}}
                                <option value="{{this._id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>


                    <!-- 
                        {{!-- Fieldset One Ended --}}

                        {{!-- Trainee Education  --}} -->

                    <div class="tab">
                        <span class="step-current">Step 2 / 5</span>
                        <h2 class="pt-6">Educational Information</h2>
                        <p>Please enter your Educational infomation and move to the next stage</p>
                        <div class="form-group">
                            <input type="text" name="school" oninput="this.className = ''" id="school" required
                                placeholder="Your School Name" />
                        </div>

                        <div class="form-group">
                            <input type="text" name="academic_discipline" oninput="this.className = ''"
                                id="academic_discipline" required placeholder="Course Of Study" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="academic_status" oninput="this.className = ''" id="academic_status"
                                required placeholder="Academic Level, E.g 100L, B.Eng" />
                        </div>
                    </div>
                    <!-- 
                        {{!-- End of Educational Section --}}



                        {{!-- Trainee Skills --}} -->
                    <div class="tab">
                        <span class="step-current">Step 3 / 5</span>
                        <h2 class="pt-6">Programming Skills</h2>
                        <p>Please state your Programming skill level and choice</p>

                        <div class="form-group">
                            <select name="programming_skill" id="programming_skill" oninput="this.className = ''"
                                required class="form-control form-select">
                                <option value="">Do You Have Any Programming Experience?</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select name="teaching_experience" oninput="this.className = ''" id="teaching_experience"
                                required class="form-control form-select">
                                <option value="">Do You Have Any Teaching Experience?</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select name="level_id" id="level_id" oninput="this.className = ''"
                                class="form-control form-select">
                                <option value="">Choose Your Skill Level</option>
                                {{#each skills}}
                                <option value="{{this._id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="interest_id" id="interest_id" oninput="this.className = ''"
                                class="form-control form-select">
                                <option value="">Choose Your Interest Areas</option>
                                {{#each interests}}
                                <option value="{{this._id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>


                    <!-- {{!-- End of skill Section --}}



                        {{!-- Account Skills --}} -->
                    <div class="tab">
                        <span class="step-current">Step 4 / 4</span>
                        <h2 class="pt-6">Internet Information</h2>
                        <p>Please Create An <strong>Training Account</strong> to acces KodeHauz Internet
                            Services
                        </p>
                        <div class="form-group">
                            <input type="text" name="account_name" oninput="this.className = ''" id="account_name"
                                required placeholder="Account Username" />
                        </div>

                        <div class="form-group">
                            <input type="password" name="account_password" oninput="this.className = ''"
                                id="account_password" required placeholder="Account Password" />
                        </div>
                    </div>
                    <!-- {{!-- End of internet Section --}}



                        {{!-- Upload section --}} -->
                    <div class="tab">
                        <span class="step-current">Step 5 / 5</span>
                        <h2 class="pt-6">Profile Picture</h2>
                        <p>Please upload a <strong>Profile Picture</strong> or Choose an <strong>Avatar</strong>
                        </p>
                        <div class="form-group d-flex justify-content-center pt-7 pb-4">
                            <div class="avatar-wrapper">
                                <img class="profile-pic" src="" />
                                <div class="upload-button">
                                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                </div>
                                <input class="file-upload" type="file" accept="image/*" name="avatar" id="avatar" />
                            </div>
                        </div>
                    </div>

                    <div style="overflow: auto;">
                        <div class="d-flex justify-content-lex-end">
                            <button class="btn btn-primary" type="button" id="prevBtn"
                                onclick="nextPrev(-1)">Previous</button>
                            <button class="btn btn-secondary-soft" type="button" id="nextBtn"
                                onclick="nextPrev(1)">Next</button>
                        </div>
                    </div>

                    <!-- Circles which indicates the steps of the form: -->
                    <div style="text-align:center;margin-top:40px;">
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<!-- JS -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script>
    $(document).ready(function () {
        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.profile-pic').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $(".file-upload").on('change', function () {
            readURL(this);
        });

        $(".upload-button").on('click', function () {
            $(".file-upload").click();
        });
    });
</script>
<script>
    var currentTab = 0;
    showTab(currentTab);

    function showTab(n) {
        var x = document.getElementsByClassName("tab")

        x[n].style.display = "block";

        //creating the toggling to the next input tags
        if (n === 0) {
            document.getElementById("prevBtn").style.display = "none";
        } else {
            document.getElementById("prevBtn").style.display = "inline";
        }

        //switching between the next and the submit button
        if (n == (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "Submit";
        } else {
            document.getElementById("nextBtn").innerHTML = "Next";
        }
        fixStepIndicator(n)
    }

    function nextPrev(n) {
        alert('this is ' + n)
        //this tab will figure out which tab to display
        let x = document.getElementsByClassName("tab")

        //make sure all inputs are added
        if (n == 1 && !validateForm()) return false;

        //hide the current tab
        x[currentTab].style.display = "none";

        //increase/decrease the current tab by 1
        currentTab = currentTab + n;

        //if u reach the end of the form
        if (currentTab >= x.length) {
            document.getElementById("regForm").submit()
            return false;
        }
        //otherwise, display the right tab
        showTab(currentTab)
    }

    function validateForm() {
        let x, y, i, valid = true;
        x = document.getElementsByClassName("tab");
        y = x[currentTab].getElementsByTagName("input");

        //a loop to check every input
        for (i = 0; i < y.length; i++) {
            if (y[i].value == "") {
                y[i].className += " invalid"
                valid = false;
            }
        }

        if (valid) {
            document.getElementsByClassName("step")[currentTab].className += " finish"
        }
        return valid
    }

    function fixStepIndicator(n) {
        // This function removes the "active" class of all steps...
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
        } //... and adds the "active" class on the current step: 
        x[n].className += " active";
    }
</script>
</body>

</html>