<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="css/vendor/datatables.min.css">
    <link rel="stylesheet" href="css/vendor/perfect-scrollbar.css">
    <link rel="stylesheet" href="css/vendor/lite-purple.min.css">
</head>

<body>
    {{> dashboard_nav}}

    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <div class="breadcrumb">
            <h1>{{title}}</h1>
            <ul>
                <li><a href="/admin-dashboard">Dashboard</a></li>
                <li>Utilities</li>
                <li>{{utility_name}}</li>
            </ul>
        </div>
        <div class="separator-breadcrumb border-top"></div>

        <div class="col-xs-12 col-md-8">
            <form action="{{utility_addLlink}}" method="post" class="form-group">
                <label for="name">Add {{utility_name}}</label>
                <div class="d-flex align-items-center align-content-center">
                    <input type="number" class="form-control" name="number" style="width: 50px;">
                    <input type="text" class="form-control ml-3" name="name" placeholder="{{utility_name}}">
                    <button class="btn btn-success mx-5" onclick="notify()" type="submit">Add {{utility_name}}</button>
                </div>
            </form>
            <sub>Note: Make sure to add a number for the item you are adding.</sub>
        </div>

        <div class="row mt-6">

            <div class="col-md-8">
                <div class="card o-hidden mb-4">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="w-50 float-left card-title m-0">{{utility_name}}</h3>
                    </div>

                    <div class="card-body">

                        <div class="table-responsive">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="row">#</th>
                                        <th scope="col">Department</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {{#each utility}}
                                    <tr>
                                        <td>{{this.number}}</td>
                                        <td>{{this.name}}</td>
                                        <td>
                                            <a href="#myMoaio" target="_blank" data-toggle="modal" class="text-warning mr-2" >
                                                <i class="nav-icon fe fe-edit font-weight-bold"></i>
                                            </a>
                                        </td>

                                        <td>
                                            <div class="text-danger mr-2">
                                                <a href="{{utility_name}}" class="text-danger">
                                                    <i class="nav-icon fe fe-trash font-weight-bold"
                                                        onclick=deleteCat("{{this._id}}") style="cursor: pointer"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal HTML -->
    {{#each categories}}
    <div id="myMoaio" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content"  role="document">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">
                    <form action="/admin/categories/edit/{{this._id}}" method="POST">
                        <div class="form-group">
                            <div class="input-group ">
                                <input type="text" class="form-control" name="category" placeholder="{{this.category}}"
                                    required="required">
                            </div>
                        </div>
                
                        <div class=" modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary ">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <!-- Modal HTML -->
    {{!-- {{#each categories}}



    <div class="modal fade" id="{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="{{this._id}}"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="{{this._id}}">Edit Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/admin/categories/edit/ + {{this._id}}" + method="POST">
                        <div class="form-group">
                            <div class="input-group ">
                                <input type="text" class="form-control" name="category" placeholder="{{this.category}}"
                                    required="required">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/each }} --}}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/perfect-scrollbar.min.js"></script>
    {{!-- <script src="js/echarts.min.js"></script> --}}
    <script src="js/datatables.mijs"></script>
    {{!-- <script src="js/echart.options.min.js"></script> --}}
    <script src="js/dashboard.v2.script.min.js"></script>
    <script src="js/script.min.js"></script>
    <script src="js/init.js"></script>
    <script src="js/admin.js"></script>
</body>

</html>